# 一、载入数据

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats, integrate

%matplotlib inline

In [2]:
data_path = '../data/'
df_r = pd.read_csv(data_path + 'train_rice.csv', encoding='gb2312')
df_w = pd.read_csv(
    data_path + 'train_weather.csv', encoding='gb2312', low_memory=False)

In [5]:
df_w.head()

,区县id,站名id,年份,月份,日期,日照时数（单位：h),02时风向,08时风向,14时风向,20时风向,日平均风速(单位：m/s),日降水量（mm）,日最高温度（单位：℃）,日最低温度（单位：℃）,日平均温度（单位：℃）,日相对湿度（单位：%）,日平均气压（单位：hPa）
0,county25,1,2015,1,1,6.3,NNW,N,NNE,S,1.8,0,14.1,7.2,9.1,43,980.6
1,county25,1,2015,1,2,8.1,SSE,S,SSW,S,1.3,0,18.3,1.6,7.5,64,977.7
2,county25,1,2015,1,3,4.3,S,SSE,S,SSE,2,0,18.9,2.4,9.4,66,973.1
3,county25,1,2015,1,4,0,WNW,SSW,S,SSE,2.2,0.3,14.9,9.0,11.5,76,966.7
4,county25,1,2015,1,5,0,SSE,S,SSW,C,2.8,0.8,16.8,11.6,15.5,91,963.9

In [6]:
df_r.head()

      区县id    2015年早稻    2016年早稻    2017年早稻    2015年晚稻    2016年晚稻    2017年晚稻
0  county1  15.812589  15.878158  15.835681  15.754182  15.740001  15.636155
1  county2  16.658008  16.623931  16.555916  16.666867  16.686079  16.583385
2  county3  15.206326  15.085393  15.049788  15.177311  14.995996  14.889857
3  county4  15.352061  15.311764  15.236604  15.020413  15.005488  14.882306
4  county5  15.942749  15.943796  15.876010  16.019721  15.989249  15.905980

# 二、数据分析

## 1.字符串转化为浮点数

In [7]:
def rpf(x):
    try:
        t = float(x)
    except:
        t = np.nan
    return t

In [8]:
dc = [
    '日照时数（单位：h)', '日平均风速(单位：m/s)', '日降水量（mm）', '日最高温度（单位：℃）', '日最低温度（单位：℃）',
    '日平均温度（单位：℃）', '日相对湿度（单位：%）', '日平均气压（单位：hPa）'
]

In [9]:
for col in dc:
    df_w[col] = df_w[col].apply(rpf)

In [10]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132951 entries, 0 to 132950
Data columns (total 17 columns):
区县id             132951 non-null object
站名id             132951 non-null int64
年份               132951 non-null int64
月份               132951 non-null int64
日期               132951 non-null int64
日照时数（单位：h)       132932 non-null float64
02时风向            132951 non-null object
08时风向            132951 non-null object
14时风向            132951 non-null object
20时风向            132951 non-null object
日平均风速(单位：m/s)    132938 non-null float64
日降水量（mm）         121132 non-null float64
日最高温度（单位：℃）      132951 non-null float64
日最低温度（单位：℃）      132951 non-null float64
日平均温度（单位：℃）      132944 non-null float64
日相对湿度（单位：%）      132945 non-null float64
日平均气压（单位：hPa）    132929 non-null float64
dtypes: float64(8), int64(4), object(5)
memory usage: 17.2+ MB

## 2、站点数据

In [11]:
df_w['站名id'].value_counts()

1    128568
2      4383
Name: 站名id, dtype: int64

In [12]:
df_w.loc[df_w['站名id'] == 2]['区县id'].value_counts()

county8     1461
county1     1461
county34    1461
Name: 区县id, dtype: int64

county1、county8、county34 有站点1和站点2，其余 county只有站点1

## 3.数据缺失率

In [13]:
def get_miss(df, columns):
    miss = []
    for c in columns:
        miss.append([c, round(df[c].isnull().mean() * 100, 2)])
    return sorted(miss, key=lambda x: x[1], reverse=True)

In [14]:
# 缺失率（%）
miss = get_miss(df_w, dc)
miss

[['日降水量（mm）', 8.89],
 ['日平均气压（单位：hPa）', 0.02],
 ['日照时数（单位：h)', 0.01],
 ['日平均风速(单位：m/s)', 0.01],
 ['日平均温度（单位：℃）', 0.01],
 ['日最高温度（单位：℃）', 0.0],
 ['日最低温度（单位：℃）', 0.0],
 ['日相对湿度（单位：%）', 0.0]]

## 4.月数据统计

In [15]:
df_ws = df_w.groupby(['区县id', '站名id', '年份', '月份'])[dc].sum()

In [31]:
df_ws.head(24)

                      日照时数（单位：h)  日平均风速(单位：m/s)  日降水量（mm）  日最高温度（单位：℃）  \
区县id    站名id 年份   月份
county1 1    2015 1        108.8           46.2      37.4        577.6
                  2         77.7           37.9      22.5        573.9
                  3         45.8           46.4      42.3        677.6
                  4        155.1           50.1      43.5        856.9
                  5        154.4           55.0      99.0        993.0
                  6        182.2           63.4      79.8       1010.3
                  7        141.7           54.4     235.3        994.9
                  8        182.9           46.8     242.8       1017.5
                  9        113.5           46.1     131.8        920.1
                  10       169.3           42.1      56.6        895.2
                  11        61.9           35.5      98.1        735.7
                  12        37.8           41.2     133.2        528.8
             2016 1         37.3           43.4     129.1        488.2
                  2         95.8           47.0      19.0        521.3
                  3         31.7           43.2      38.6        657.8
                  4         91.9           54.6     130.8        871.3
                  5        154.4           58.4     203.8        973.0
                  6        200.6           52.6     345.2       1016.4
                  7        191.6           57.0      76.0       1051.4
                  8        166.5           47.5     355.2       1039.0
                  9        179.6           45.4      47.2        970.7
                  10       187.5           54.0     152.8        940.3
                  11       101.8           51.8      44.6        719.2
                  12       144.2           49.2       4.1        684.2

                      日最低温度（单位：℃）  日平均温度（单位：℃）  日相对湿度（单位：%）  日平均气压（单位：hPa）
区县id    站名id 年份   月份
county1 1    2015 1         312.4        419.8       2578.0        31200.6
                  2         375.0        458.8       2367.0        28094.0
                  3         487.9        567.9       2705.0        31043.1
                  4         544.6        682.7       2310.0        29945.7
                  5         747.3        846.6       2557.0        30744.6
                  6         765.3        870.8       2402.0        29710.0
                  7         754.0        855.1       2513.0        30671.7
                  8         761.8        867.3       2535.0        30746.5
                  9         706.7        787.7       2600.0        29868.1
                  10        593.2        713.4       2561.0        31017.8
                  11        536.5        615.2       2586.0        30088.2
                  12        369.5        434.8       2623.0        31227.2
             2016 1         331.5        392.1       2678.0        31188.5
                  2         242.3        357.3       2214.0        29235.3
                  3         454.7        545.2       2600.0        31058.3
                  4         639.8        735.2       2432.0        29837.9
                  5         707.2        822.9       2467.0        30800.2
                  6         765.4        865.9       2405.0        29748.5
                  7         795.6        898.9       2480.0        30726.1
                  8         781.5        878.5       2560.0        30645.9
                  9         705.5        812.3       2370.0        29818.0
                  10        653.1        779.0       2303.0        30914.8
                  11        487.6        580.7       2443.0        30097.8
                  12        373.0        500.6       2369.0        31171.8

## 5.均值统计

In [18]:
df_r['早稻均值'] = df_r[['2015年早稻', '2016年早稻', '2017年早稻']].mean(axis=1).values
df_r['晚稻均值'] = df_r[['2015年晚稻', '2016年晚稻', '2017年晚稻']].mean(axis=1).values
df_r = df_r[[
    '区县id', '2015年早稻', '2016年早稻', '2017年早稻', '早稻均值', '2015年晚稻', '2016年晚稻',
    '2017年晚稻', '晚稻均值'
]]

In [21]:
df_r.head(10)

,区县id,2015年早稻,2016年早稻,2017年早稻,早稻均值,2015年晚稻,2016年晚稻,2017年晚稻,晚稻均值
0,county1,15.812589,15.878158,15.835681,15.842143,15.754182,15.740001,15.636155,15.710113
1,county2,16.658008,16.623931,16.555916,16.612618,16.666867,16.686079,16.583385,16.645444
2,county3,15.206326,15.085393,15.049788,15.113835,15.177311,14.995996,14.889857,15.021054
3,county4,15.352061,15.311764,15.236604,15.300143,15.020413,15.005488,14.882306,14.969402
4,county5,15.942749,15.943796,15.876010,15.920852,16.019721,15.989249,15.905980,15.971650
5,county6,17.306096,17.346304,17.319839,17.324080,17.099665,17.174718,17.066806,17.113730
6,county7,17.305326,17.285705,17.209291,17.266774,17.323740,17.331463,17.292745,17.315983
7,county8,12.829017,12.931724,12.724834,12.828525,12.318557,12.437541,12.422412,12.392837
8,county9,15.979893,16.032551,15.923424,15.978623,15.930654,15.938682,15.869497,15.912944
9,county10,16.240918,16.294254,16.231479,16.255550,15.861623,15.955306,15.817218,15.878049

## 6.构造Features与Labels

In [22]:
countyId = df_r['区县id'].values

In [23]:
# df: 特征， df_l: 标签， postfix: 结果，state： 站点
def makeTrainData(df, df_l, postfix, countyId, years, months, state=1):
    res = pd.DataFrame()
    for countyid in countyId:
        for year in years:
            label = 0
            if year != 2018:
                label = df_l.loc[df_l['区县id'] == countyid][str(year) +
                                                           postfix].values[0]
            features = [label]
            for m in months:
                features += df.loc[(countyid, state, year, m)].values.tolist()
            res[countyid + '_' + str(year)] = features
    return res

In [34]:
df_ws.head()

                      日照时数（单位：h)  日平均风速(单位：m/s)  日降水量（mm）  日最高温度（单位：℃）  \
区县id    站名id 年份   月份
county1 1    2015 1        108.8           46.2      37.4        577.6
                  2         77.7           37.9      22.5        573.9
                  3         45.8           46.4      42.3        677.6
                  4        155.1           50.1      43.5        856.9
                  5        154.4           55.0      99.0        993.0

                      日最低温度（单位：℃）  日平均温度（单位：℃）  日相对湿度（单位：%）  日平均气压（单位：hPa）
区县id    站名id 年份   月份
county1 1    2015 1         312.4        419.8       2578.0        31200.6
                  2         375.0        458.8       2367.0        28094.0
                  3         487.9        567.9       2705.0        31043.1
                  4         544.6        682.7       2310.0        29945.7
                  5         747.3        846.6       2557.0        30744.6

### 6.1 早稻

In [24]:
trainData_1 = makeTrainData(
    df_ws,
    df_r,
    postfix='年早稻',
    countyId=countyId,
    years=[2015, 2016, 2017, 2018],
    months=[3, 4, 5, 6, 7, 8])
trainData_1.head()

,county1_2015,county1_2016,county1_2017,county1_2018,county2_2015,county2_2016,county2_2017,county2_2018,county3_2015,county3_2016,...,county86_2017,county86_2018,county87_2015,county87_2016,county87_2017,county87_2018,county88_2015,county88_2016,county88_2017,county88_2018
0,15.812589,15.878158,15.835681,0.0,16.658008,16.623931,16.555916,0.0,15.206326,15.085393,...,14.984693,0.0,14.767403,14.807953,14.773236,0.0,12.69773,13.127092,12.72598,0.0
1,45.800000,31.700000,40.300000,120.3,27.800000,20.500000,33.400000,90.6,62.400000,57.200000,...,38.300000,104.0,43.000000,51.500000,50.000000,127.2,45.10000,34.200000,48.50000,121.4
2,46.400000,43.200000,89.900000,83.1,29.700000,30.700000,71.000000,77.1,72.300000,76.000000,...,57.300000,55.6,62.800000,62.600000,62.800000,70.0,59.90000,59.200000,56.10000,60.4
3,42.300000,38.600000,164.900000,69.5,55.100000,27.700000,167.400000,68.2,26.900000,24.100000,...,120.200000,34.6,23.100000,20.900000,129.800000,66.0,63.10000,50.100000,145.60000,73.9
4,677.600000,657.800000,658.400000,756.3,690.700000,668.900000,649.200000,748.0,682.800000,658.200000,...,684.100000,770.6,653.400000,637.500000,649.100000,717.3,668.80000,649.800000,673.40000,769.9

In [33]:
trainData_1

,county1_2015,county1_2016,county1_2017,county1_2018,county2_2015,county2_2016,county2_2017,county2_2018,county3_2015,county3_2016,...,county86_2017,county86_2018,county87_2015,county87_2016,county87_2017,county87_2018,county88_2015,county88_2016,county88_2017,county88_2018
0,15.812589,15.878158,15.835681,0.0,16.658008,16.623931,16.555916,0.0,15.206326,15.085393,...,14.984693,0.0,14.767403,14.807953,14.773236,0.0,12.69773,13.127092,12.72598,0.0
1,45.800000,31.700000,40.300000,120.3,27.800000,20.500000,33.400000,90.6,62.400000,57.200000,...,38.300000,104.0,43.000000,51.500000,50.000000,127.2,45.10000,34.200000,48.50000,121.4
2,46.400000,43.200000,89.900000,83.1,29.700000,30.700000,71.000000,77.1,72.300000,76.000000,...,57.300000,55.6,62.800000,62.600000,62.800000,70.0,59.90000,59.200000,56.10000,60.4
3,42.300000,38.600000,164.900000,69.5,55.100000,27.700000,167.400000,68.2,26.900000,24.100000,...,120.200000,34.6,23.100000,20.900000,129.800000,66.0,63.10000,50.100000,145.60000,73.9
4,677.600000,657.800000,658.400000,756.3,690.700000,668.900000,649.200000,748.0,682.800000,658.200000,...,684.100000,770.6,653.400000,637.500000,649.100000,717.3,668.80000,649.800000,673.40000,769.9
5,487.900000,454.700000,458.400000,512.2,524.500000,489.500000,461.300000,523.5,517.700000,475.600000,...,493.100000,504.5,500.100000,461.400000,467.700000,506.9,505.60000,472.100000,487.60000,522.8
6,567.900000,545.200000,531.600000,613.7,588.400000,564.500000,531.600000,616.0,577.900000,552.900000,...,565.000000,617.3,561.500000,532.200000,534.400000,599.0,566.00000,541.100000,557.80000,620.9
7,2705.000000,2600.000000,2643.000000,2452.0,2651.000000,2424.000000,2618.000000,2518.0,2618.000000,2536.000000,...,2554.000000,2466.0,2602.000000,2549.000000,2658.000000,2432.0,2781.00000,2693.000000,2674.00000,2458.0
8,31043.100000,31058.300000,30915.600000,30902.4,31085.200000,31088.700000,30902.200000,30890.6,31018.200000,31032.000000,...,30449.000000,30438.5,29845.800000,29859.200000,29830.200000,29821.6,30217.20000,30234.200000,30195.70000,30193.5
9,155.100000,91.900000,105.700000,125.6,155.100000,63.800000,79.800000,100.7,217.900000,113.600000,...,86.500000,86.6,159.500000,96.500000,90.900000,116.3,171.50000,97.600000,95.10000,85.3
10,50.100000,54.600000,76.400000,81.4,39.100000,34.600000,85.300000,85.7,85.600000,80.000000,...,47.700000,60.4,72.700000,65.600000,62.800000,65.5,78.20000,72.100000,61.00000,60.3
11,43.500000,130.800000,8.200000,60.1,60.700000,91.800000,52.700000,44.8,19.000000,105.800000,...,45.900000,34.6,22.000000,73.000000,38.500000,25.8,46.00000,97.000000,25.30000,92.1
12,856.900000,871.300000,800.100000,802.6,900.600000,877.400000,785.900000,802.4,890.400000,854.000000,...,796.100000,806.5,827.400000,811.300000,752.200000,758.6,831.10000,840.400000,786.80000,785.4
13,544.600000,639.800000,577.700000,564.6,614.800000,664.400000,577.100000,578.7,590.100000,650.700000,...,567.800000,561.4,580.200000,621.900000,562.100000,550.9,571.70000,633.600000,572.50000,561.6
14,682.700000,735.200000,668.900000,665.2,730.000000,749.000000,659.100000,673.7,715.400000,733.200000,...,661.200000,663.0,686.300000,700.700000,639.700000,640.8,678.50000,717.000000,655.80000,646.0
15,2310.000000,2432.000000,2337.000000,2321.0,2043.000000,2309.000000,2343.000000,2311.0,2058.000000,2438.000000,...,2334.000000,2316.0,2012.000000,2511.000000,2335.000000,2308.0,2275.00000,2548.000000,2400.00000,2439.0
16,29945.700000,29837.900000,29824.000000,29850.8,29980.400000,29865.000000,29809.200000,29838.8,29917.100000,29808.900000,...,29384.300000,29410.5,28807.800000,28711.700000,28793.900000,28818.7,29170.30000,29067.500000,29147.50000,29176.0
17,154.400000,154.400000,174.400000,231.1,114.500000,134.500000,142.200000,186.3,216.000000,176.900000,...,161.100000,168.2,162.900000,171.400000,174.900000,204.2,212.40000,152.500000,184.80000,197.0
18,55.000000,58.400000,77.100000,86.3,35.000000,40.300000,72.800000,91.7,78.600000,82.000000,...,48.600000,61.5,67.800000,64.600000,55.500000,72.9,79.00000,74.300000,57.80000,78.4
19,99.000000,203.800000,300.800000,186.3,259.800000,143.900000,231.600000,119.4,139.500000,103.800000,...,168.300000,119.1,156.500000,91.700000,178.200000,100.4,249.70000,48.200000,98.20000,45.3
20,993.000000,973.000000,941.800000,990.5,1024.000000,986.700000,925.200000,983.3,1000.700000,956.700000,...,943.400000,992.7,955.700000,903.700000,892.400000,933.5,1014.30000,945.900000,933.20000,991.1
21,747.300000,707.200000,681.600000,742.3,778.500000,743.600000,677.900000,748.9,751.300000,718.000000,...,661.500000,740.7,735.600000,696.900000,643.800000,733.1,740.50000,698.100000,659.40000,725.6
22,846.600000,822.900000,787.800000,842.4,875.600000,839.900000,779.200000,840.8,852.200000,815.800000,...,780.700000,847.0,827.200000,783.300000,749.200000,813.9,847.70000,798.200000,774.10000,834.1
23,2557.000000,2467.000000,2452.000000,2518.0,2434.000000,2322.000000,2393.000000,2496.0,2464.000000,2460.000000,...,2350.000000,2362.0,2429.000000,2442.000000,2403.000000,2401.0,2475.00000,2507.000000,2394.00000,2408.0
24,30744.600000,30800.200000,30755.200000,30722.8,30782.200000,30830.100000,30742.100000,30709.4,30720.300000,30774.000000,...,30310.100000,30272.2,29591.700000,29651.500000,29710.700000,29672.8,29952.10000,30012.000000,30067.30000,30036.5
25,182.200000,200.600000,146.300000,181.9,170.100000,177.600000,115.800000,151.6,229.900000,251.200000,...,121.300000,124.9,165.900000,235.000000,119.900000,150.3,211.70000,210.900000,133.60000,155.3
26,63.400000,52.600000,73.400000,70.7,35.400000,37.700000,76.300000,77.4,78.400000,80.800000,...,44.000000,39.7,64.600000,62.500000,51.500000,50.9,81.80000,69.300000,55.90000,53.7
27,79.800000,345.200000,101.300000,223.1,148.600000,296.700000,169.400000,404.8,223.600000,257.100000,...,272.900000,321.0,146.400000,291.300000,503.300000,279.9,160.30000,59.600000,236.00000,190.9
28,1010.300000,1016.400000,962.300000,963.3,1045.800000,1037.400000,949.600000,962.9,995.400000,1002.900000,...,954.800000,965.0,933.200000,956.700000,910.100000,907.2,975.40000,1012.800000,954.90000,972.1
29,765.300000,765.400000,744.500000,740.6,799.400000,783.000000,740.900000,744.8,763.500000,760.400000,...,735.500000,716.7,750.600000,730.600000,719.900000,707.5,734.40000,728.300000,725.70000,712.2
30,870.800000,865.900000,827.100000,827.3,897.100000,879.800000,819.800000,827.3,855.500000,860.900000,...,817.700000,811.0,825.900000,824.500000,788.400000,783.8,831.80000,844.400000,811.30000,811.0
31,2402.000000,2405.000000,2576.000000,2488.0,2275.000000,2291.000000,2515.000000,2495.0,2481.000000,2388.000000,...,2531.000000,2508.0,2421.000000,2403.000000,2661.000000,2518.0,2431.00000,2370.000000,2498.00000,2432.0
32,29710.000000,29748.500000,29619.700000,29592.0,29744.700000,29775.300000,29606.100000,29582.7,29684.300000,29720.800000,...,29187.500000,29167.1,28601.600000,28645.700000,28613.500000,28593.9,28949.70000,28990.400000,28954.80000,28934.9
33,141.700000,191.600000,176.400000,187.9,119.000000,220.200000,156.300000,194.5,203.900000,270.100000,...,141.100000,168.4,138.100000,212.600000,153.300000,199.6,169.90000,190.300000,149.00000,146.0
34,54.400000,57.000000,72.700000,81.2,36.600000,40.300000,72.500000,80.0,66.600000,86.700000,...,44.100000,41.4,50.400000,66.900000,46.700000,61.0,60.00000,64.400000,50.40000,38.5
35,235.300000,76.000000,290.100000,337.8,201.000000,56.600000,188.300000,284.4,268.300000,66.700000,...,184.800000,212.0,324.100000,103.500000,227.100000,171.3,302.80000,111.700000,265.20000,193.0
36,994.900000,1051.400000,1005.100000,994.3,1023.700000,1079.600000,999.800000,1019.3,998.400000,1060.100000,...,986.200000,1012.5,953.500000,991.100000,946.200000,968.5,987.70000,1015.600000,974.00000,981.3
37,754.000000,795.600000,768.700000,773.0,798.300000,833.200000,774.800000,788.2,764.300000,803.700000,...,746.600000,759.1,724.500000,769.600000,729.000000,752.5,727.80000,755.800000,738.10000,749.0
38,855.100000,898.900000,855.900000,856.4,886.500000,931.300000,862.300000,877.2,855.500000,906.600000,...,831.500000,855.4,818.600000,864.200000,811.500000,839.1,828.90000,859.300000,817.20000,831.2
39,2513.000000,2480.000000,2680.000000,2650.0,2340.000000,2286.000000,2621.000000,2556.0,2550.000000,2434.000000,...,2711.000000,2578.0,2493.000000,2488.000000,2746.000000,2538.0,2514.00000,2487.000000,2678.00000,2633.0
40,30671.700000,30726.100000,30630.300000,30529.1,30708.800000,30751.900000,30621.900000,30521.3,30655.000000,30693.600000,...,30190.900000,30090.6,29539.300000,29583.800000,29598.600000,29500.7,29892.70000,29938.600000,29948.80000,29847.1
41,182.900000,166.500000,195.700000,171.9,155.300000,204.500000,183.100000,160.2,219.900000,233.200000,...,148.500000,147.3,162.400000,197.200000,175.000000,178.0,166.60000,158.500000,143.50000,124.8
42,46.800000,47.500000,74.300000,61.9,32.400000,34.700000,69.800000,56.1,64.400000,64.200000,...,46.500000,33.4,45.800000,46.400000,53.600000,52.0,52.50000,47.200000,53.40000,33.2
43,242.800000,355.200000,256.100000,151.8,82.200000,374.400000,297.900000,240.5,134.400000,303.200000,...,224.200000,316.6,99.000000,300.600000,245.100000,346.4,344.90000,274.500000,206.70000,509.7
44,1017.500000,1039.000000,1006.500000,1013.0,1064.800000,1066.800000,1006.400000,1022.3,1023.100000,1043.800000,...,985.400000,1004.3,960.500000,995.900000,946.700000,961.4,982.60000,1008.400000,959.60000,973.1
45,761.800000,781.500000,771.200000,774.4,807.200000,812.200000,773.900000,772.8,773.100000,777.000000,...,741.800000,746.6,735.700000,745.000000,739.900000,736.5,729.10000,740.700000,736.70000,722.1
46,867.300000,878.500000,864.200000,861.0,908.800000,904.800000,864.700000,862.0,866.600000,881.400000,...,837.300000,834.5,824.900000,833.500000,821.900000,816.0,825.90000,834.300000,817.70000,802.1
47,2535.000000,2560.000000,2676.000000,2621.0,2246.000000,2402.000000,2630.000000,2652.0,2509.000000,2537.000000,...,2685.000000,2702.0,2502.000000,2611.000000,2706.000000,2677.0,2590.00000,2616.000000,2689.00000,2787.0
48,30746.500000,30645.900000,30615.700000,30514.1,30782.600000,30674.500000,30604.000000,30510.2,30728.200000,30626.300000,...,30174.600000,30089.1,29611.000000,29527.000000,29580.900000,29502.4,29965.30000,29873.600000,29937.10000,29852.0

### 6.2 晚稻

In [25]:
trainData_2 = makeTrainData(
    df_ws,
    df_r,
    postfix='年晚稻',
    countyId=countyId,
    years=[2015, 2016, 2017, 2018],
    months=[8, 9, 10])
trainData_2.head()

,county1_2015,county1_2016,county1_2017,county1_2018,county2_2015,county2_2016,county2_2017,county2_2018,county3_2015,county3_2016,...,county86_2017,county86_2018,county87_2015,county87_2016,county87_2017,county87_2018,county88_2015,county88_2016,county88_2017,county88_2018
0,15.754182,15.740001,15.636155,0.0,16.666867,16.686079,16.583385,0.0,15.177311,14.995996,...,15.125234,0.0,14.828394,14.817119,14.775778,0.0,12.419692,12.340206,11.806864,0.0
1,182.900000,166.500000,195.700000,171.9,155.300000,204.500000,183.100000,160.2,219.900000,233.200000,...,148.500000,147.3,162.400000,197.200000,175.000000,178.0,166.600000,158.500000,143.500000,124.8
2,46.800000,47.500000,74.300000,61.9,32.400000,34.700000,69.800000,56.1,64.400000,64.200000,...,46.500000,33.4,45.800000,46.400000,53.600000,52.0,52.500000,47.200000,53.400000,33.2
3,242.800000,355.200000,256.100000,151.8,82.200000,374.400000,297.900000,240.5,134.400000,303.200000,...,224.200000,316.6,99.000000,300.600000,245.100000,346.4,344.900000,274.500000,206.700000,509.7
4,1017.500000,1039.000000,1006.500000,1013.0,1064.800000,1066.800000,1006.400000,1022.3,1023.100000,1043.800000,...,985.400000,1004.3,960.500000,995.900000,946.700000,961.4,982.600000,1008.400000,959.600000,973.1